<!-- product -->
<div class="f_p_item col-md-4 col-xs-6" style="display: block;">
  <div class="product">
    <div class="product-img">
      <img src="{{imagePath}}" alt="">
    </div>
    <div class="product-body">
      <p class="product-category">{{location}}</p>
      <h3 class="product-name"><a href="product/{{_id}}">{{title}}</a></h3>
      <h4 class="product-price">{{price}}</h4>
    </div>
    <div class="add-to-cart">
      <button  type="button" id="addwishlist" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>{{_id}} add to
        Wishlist</button>
      <input class="input" type="text" id="proid" value="{{_id}}" hidden  placeholder="{{_id}}">
    </div>
  </div>
</div>
<!-- /product -->

<script>
	$(document).ready(function () {
		var from, userid,proid;
		$("#addwishlist").click(function () {
      // let value=document.getElementById('cartnumber').innerHTML;
      //   document.getElementById('cartnumber').innerHTML=parseInt(value)+parseInt(1);
    //	userid = $("#userid").val();
    proid=$("#proid").val();
			$.get("category/them-vao-wishlist", { productid:proid }, function (data) {
				confirm.log("vo dc")
				// if (data == "sent") {
				// 	$("#message").empty().html("<p>Email is been sent at " + to + " . Please check inbox !</p>");
				// }
			});
		});
	});
</script>