<!-- product -->
<div class="f_p_item col-md-4 col-xs-6" style="display: block;">
  <div class="product">
    <div class="product-img">
      <img src="{{imagePath}}" alt="">
    </div>
    <div class="product-body">
      <p class="product-category">{{location}}</p>
      <h3 class="product-name"><a href="product/{{_id}}">{{title}}</a></h3>
      <h4 class="product-price">{{price}}</h4>
    </div>
    <div class="add-to-cart">
      <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Quan tâm</button>
      <div style="width: 0em; height: 0em; overflow: hidden;">{{_id}}</div>
    </div>
  </div>
</div>
<!-- /product -->