<div class="left-menu col-lg-3">
	<div class="list-left-menu border">
		<ul class="navbar-nav account-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/users"><i class="fa fa-user"></i>Thông tin tài khoản</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pl-3" href="/users/sua-thong-tin"><i class="fa fa-edit"></i>Chỉnh sửa thông tin</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link pl-3" href="/users/san-pham"><i class="fa fa-shopping-cart"></i>Sản phẩm đã đăng</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pl-3" href="/product/add-product"><i class="fa fa-plus-square-o"></i>Đăng bán sản phẩm</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pl-3" href="/users/doi-mat-khau"><i class="fa fa-user-secret"></i>Thay đổi mật khẩu</a>
			</li>
		</ul>
	</div>
</div>