<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
          <li class="active"><a href="#">Trang chủ</a></li>
          <li><a href="#">Bất động sản</a></li>
          <li><a href="#">Xe cộ</a></li>
          <li><a href="#">Thời trang</a></li>
          <li><a href="#">Đồ điện tử</a></li>
          <li><a href="#">Giải trí</a></li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
  <!-- /NAVIGATION -->