<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Đăng bài</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	
	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/slick.css"/>
	<link type="text/css" rel="stylesheet" href="/stylesheets/slick-theme.css"/>
	
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/nouislider.min.css"/>
	
	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>

	<!--Modified-->
	<link rel="stylesheet" href="/javascripts/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/javascripts/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/stylesheets/my-style.css">

</head>
<body>

	<style type="text/css">
		.select-img{
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 120px;
			min-height: 120px;
			transform: translate(-50%, -50%);
			background: #fbfbfc;
			border-radius: 50%;
			display : flex;
			align-items : center;
			justify-content: center;
		}
		.temp-img{
			position: relative;
			z-index: 2;
		}
		.product-img{
			margin: 20px 0;
			min-height: 150px;
			cursor: pointer;
			border: 1px solid #e5e7ed;
		}
	</style>
	<!-- HEADER -->
	<%include header%>
	<!-- /HEADER -->

	<!--NAV BAR-->
	<%include nav-bar%>
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Tài khoản</a></li>
						<li class="active">Đăng sản phẩm</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<%include account_nav%>
				<div class="right col-lg-9">
					<h4 class="mb-sm-4 mb-3">Đăng sản phẩm</h4>
					<hr class="m-0">
					<form action="/users/dang-san-pham" method="post">

						<div class="form-group">
							<input class="input" type="text" name="name" placeholder="Tên mặt hàng" required="">
						</div>
						<div class="form-group">
							<select class="input" name="category">
								<option disabled="" selected>--Chọn loại mặt hàng--</option>
							</select>
						</div>
						<div class="form-group">
							<select class="input" name="satus">
								<option disabled="" selected>--Tình trạng mặt hàng--</option>
							</select>
						</div>
						<div class="form-group">
							<select class="input" name="location">
								<option disabled="" selected>--Chọn vị trí--</option>
							</select>
						</div>
						<div class="form-group">
							<input class="input" type="text" placeholder="Hãng" name="brand" >
						</div>
						<div class="form-group">
							<div class="col-lg-3 relative product-img" data-target="image1">
								<img class="temp-img" width="100%" id="temp-img-1">
								<div class="select-img" data-target='image1'>
									<span>Chọn ảnh</span>
								</div>
							</div>
							<div class="col-lg-3 relative product-img" data-target="image2">
								<img class="temp-img" width="100%" id="temp-img-2">
								<div class="select-img" data-target='image2'>
									<span>Chọn ảnh</span>
								</div>
							</div>
							<div class="col-lg-3 relative product-img" data-target="image3">
								<img class="temp-img" width="100%" id="temp-img-3">
								<div class="select-img" data-target='image3'>
									<span>Chọn ảnh</span>
								</div>
							</div>
							<div class="col-lg-3 relative product-img" data-target="image4">
								<img class="temp-img" width="100%" id="temp-img-4">
								<div class="select-img" data-target='image4'>
									<span>Chọn ảnh</span>
								</div>
							</div>
							<input class="input input-img" data-img="temp-img-1" type="file" name="image1" style="display: none;" accept="image/png,image/jpeg,image/jpg">
							<input class="input input-img" data-img="temp-img-2" type="file" name="image2" style="display: none;" accept="image/png,image/jpeg,image/jpg">
							<input class="input input-img" data-img="temp-img-3"type="file" name="image3" style="display: none;" accept="image/png,image/jpeg,image/jpg">
							<input class="input input-img" data-img="temp-img-4"type="file" name="image4" style="display: none;" accept="image/png,image/jpeg,image/jpg">
						</div>
						<div class="form-group">
							<input class="input" type="number" min="0" placeholder="Giá" name="price" required="">
						</div>
						<div class="form-group">
							<textarea class="input" placeholder="Chi tiết" name="detail"></textarea>
						</div>
						<button type="submit" class="primary-btn" style="display: block;margin: 0 auto" name="">Đăng bài</button>
					</form>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<%include footer%>

	<!-- jQuery Plugins -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/slick.min.js"></script>
	<script src="/javascripts/nouislider.min.js"></script>
	<script src="/javascripts/jquery.zoom.min.js"></script>
	<script src="/javascripts/main.js"></script>
	<script type="text/javascript">
		$('.product-img').click(function(){
			var input = $(this).attr('data-target');
			$('input[name="'+input+'"]').click();
		});

		$(".input-img").change(function(){
			var img = $(this).attr('data-img');
			if(this.files.length==0)
			{
				$('#'+img).removeAttr('src');
				return false;
			}
			
			var el_img,src,type;
			var count_image=0;
			var arrtype=["jpg","jpeg","png","PNG"];
			var file=this.files[0];
			src=URL.createObjectURL(file);
			type=file.name.split(".").pop().toLowerCase();
			if($.inArray(type,arrtype)>-1)
			{
				$('#'+img).attr('src',src);
			}
			else{
				alert('Hình ảnh không được hỗ trợ');
			}
		});
	</script>
</body>
</html>
