<div class="left-menu col-lg-3">
	<div class="list-left-menu border">
		<ul class="navbar-nav account-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/users"><i class="fa fa-user"></i>Thông tin tài khoản</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link pl-3" href="/users/san-pham"><i class="fa fa-shopping-cart"></i>Sản phẩm đã đăng</a>
			</li>
		</ul>
	</div>
</div>